body
{
    font-family: sans-serif;
}

.section
{
    width: fit-content;
    display: inline-table;
}

#title
{
    width: 100%;
}

#desc
{
    width: 100%;
    height: 100px;
    font-family: sans-serif;
}

#timetable
{
    border: 1px solid black;
}